<%- include ('layout/header') -%>
    <!-- Hero Area Begin -->
    <section class="hero-area" data-aos="fade-up" id="Home">
      <div class="hero-slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card slider-height d-flex align-items-start justify-content-center" data-background="img/cover1.jpg" >
                    <div class="col-xl-6 col-lg-8 col-md-10">
                      <div class="hero-text">
                        <div class="hero-slider-caption">
                          <h5>We are here for your care.</h5>
                          <h1>Best Care & Better Doctor.</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="hero-slider-btn">
                          <a href="appoinment.html" class="btn btn-icon ml-0"><span>+</span>Contact US</a>
                          <a href="https://www.youtube.com/watch?v=eXQgPCsd83c" class="play-btn popup-video"><i
                              class="icofont-ui-play"></i></a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card slider-height d-flex align-items-start justify-content-center" data-background="img/cover2.jpg">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                      <div class="hero-text">
                        <div class="hero-slider-caption">
                          <h5>We are here for your care.</h5>
                          <h1>Best Care & Better Doctor.</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <div class="hero-slider-btn">
                          <a href="appoinment.html" class="btn btn-icon ml-0"><span>+</span>Contact US</a>
                          <a href="https://www.youtube.com/watch?v=eXQgPCsd83c" class="play-btn popup-video"><i
                              class="icofont-ui-play"></i></a>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <button class="swiper-button-next swiper-button">
          </button>
          <button class="swiper-button-prev swiper-button">
          </button>
        </div>
      </div>
    </section>
    <!-- Hero Area End -->

    <!-- Companies Area Begin -->
    <section class="companies" data-aos="fade-up" id="Company">
      <!-- Header Title -->
      <div class="head-company">
        <h1>Our Companies</h1>
      </div>

      <!-- Companies -->
      <div class="container">
        <!-- Tri-v Cleaners -->
        <div class="card card_1">
          <div class="content">
            <div class="title">
              Tri -v Cleaners
            </div>

            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, tenetur.
            </div>
          </div>

          <div class="sinopse">
            <div class="content-sinopse">
              <div class="title">Details</div>

              <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci cupiditate,
                consequuntur labore tempore aperiam error corrupti doloribus consequatur eaque. Incidunt dolorem hic,
                suscipit, repellat iure sapiente eum non sunt molestiae, minima perspiciatis quasi quae nostrum qui in.
                A, inventore odit.
              </div>
            </div>

            <div class="view tri">See Products</div>
          </div>
        </div>

        <!-- Zoxoil -->
        <div class="card card_2">
          <div class="content">
            <div class="title">
              Zoxoil
            </div>

            <div class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, possimus?
            </div>
          </div>

          <div class="sinopse">
            <div class="content-sinopse">
              <div class="title">Details</div>

              <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam ipsum tenetur
                praesentium sed maxime libero debitis fugit similique modi reiciendis! Soluta praesentium rerum
                voluptate cupiditate sunt tempora enim alias, fugiat ullam laudantium aperiam sapiente error! Sequi
                temporibus ipsa est et?
              </div>
            </div>

            <div class="view zoxoil">See Products</div>
          </div>
        </div>

        <!-- Personal Care Product -->
        <div class="card card_3">
          <div class="content">
            <div class="title">
              Personal Care Product
            </div>

            <div class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloremque?
            </div>
          </div>

          <div class="sinopse">
            <div class="content-sinopse">
              <div class="title">Details</div>

              <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias, rem non
                quibusdam libero cumque explicabo, tempora, adipisci consectetur maxime amet praesentium distinctio hic
                neque eligendi accusantium odit enim fuga. Enim in ipsum animi quam. Itaque vero voluptatum accusantium
                consequuntur?
              </div>
            </div>

            <div class="view pcp">Visit Now</div>
          </div>
        </div>

        <!-- Animal Nutritional -->
        <div class="card card_4">
          <div class="content">
            <div class="title">
              Animal Nutritional
            </div>

            <div class="text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, doloremque?
            </div>
          </div>

          <div class="sinopse">
            <div class="content-sinopse">
              <div class="title">Details</div>

              <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias, rem non
                quibusdam libero cumque explicabo, tempora, adipisci consectetur maxime amet praesentium distinctio hic
                neque eligendi accusantium odit enim fuga. Enim in ipsum animi quam. Itaque vero voluptatum accusantium
                consequuntur?
              </div>
            </div>

            <div class="view animal">Visit Now</div>
          </div>
        </div>
      </div>
    </section>
    <!-- Companies Area End -->

    <!-- About Area Begin -->
    <section class="about-area pb-90" data-aos="fade-up" id="About">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-5">
            <div class="medical-icon-brand-2">
              <img src="img/medical-brand-icon-border.png">
            </div>

            <div class="about-left-side pos-rel mb-30">
              <div class="about-front-img">
                <img
                  src="img/thinkstockphotos.png">
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-7">
            <div class="about-right-side pt-55 mb-30">
              <div class="about-title mb-20">
                <h5>About Us</h5>
                <h1>Short Story About GVG.</h1>
              </div>

              <div class="about-text">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                  sint occaecat
                  cupidatat non proident, sunt in culpa qui officia.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Area End -->

    <!-- Services Area Begin -->
    <section class="servcies-area gray-bg pt-115 pb-90" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
            <div class="section-title text-center pos-rel mb-75">
              <div class="section-icon">
                <img class="section-back-icon" src="img/section-back-icon.png">
              </div>

              <div class="section-text pos-rel">
                <h1>Managed Your Heathcare Services</h1>
              </div>

              <div class="section-line pos-rel">
                <img src="img/section-title-line.png">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="service-box text-center mb-30">
              <div class="service-thumb">
                <img src="img/service1.png">
              </div>

              <div class="service-content">
                <h3><a href="#">Service Title</a></h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <a class="service-link" href="services-details.html">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="service-box text-center mb-30">
              <div class="service-thumb">
                <img src="img/service2.png">
              </div>

              <div class="service-content">
                <h3><a href="#">Service Title</a></h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <a class="service-link" href="services-details.html">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="service-box text-center mb-30">
              <div class="service-thumb">
                <img src="img/service3.png">
              </div>

              <div class="service-content">
                <h3><a href="#">Service Title</a></h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <a class="service-link" href="services-details.html">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="service-box text-center mb-30">
              <div class="service-thumb">
                <img src="img/service4.png">
              </div>

              <div class="service-content">
                <h3><a href="#">Service Title</a></h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <a class="service-link" href="services-details.html">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="service-box text-center mb-30">
              <div class="service-thumb">
                <img src="img/service5.png">
              </div>

              <div class="service-content">
                <h3><a href="#">Service Title</a></h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <a class="service-link" href="services-details.html">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="service-box text-center mb-30">
              <div class="service-thumb">
                <img src="img/service6.png">
              </div>

              <div class="service-content">
                <h3><a href="#">Service Title</a></h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                <a class="service-link" href="services-details.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Area End -->

    <!-- cta-area start -->
    <section class="cta-area pos-rel pt-115 pb-120" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 offset-xl-1 col-md-12">
            <div class="cta-text text-center">
              <div class="section-title pos-rel mb-50">
                <div class="section-text section-text-white pos-rel">
                  <h5>Stay healthy & strong to enjoy life</h5>
                  <h1 class="white-color">Trust Us To Be There To Help All & Make Things Well Again.</h1>
                </div>
              </div>
              <div class="section-button section-button-left">
                <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html"
                  class="btn btn-icon btn-icon-green ml-0"><span>+</span>Contact US</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- cta-area end -->

    <!-- latest-news-area start -->
    <section class="policy-area pt-115 pb-20" data-aos="fade-up" id="Policy">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7">
            <div class="section-title pos-rel mb-75">
              <div class="section-icon">
                <img class="section-back-icon back-icon-left" src="img/section-back-icon.png" alt="">
              </div>
              <div class="section-text pos-rel">
                <h5>Policy</h5>
                <h1>TERMS AND POLICIES</h1>
              </div>
              <div class="section-line pos-rel">
                <img src="img/section-title-line.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="policy-list mb-120">
              <div class="policy-content single-policy policy-border-bottom">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adidis.</a></h3>
                <span class="meta-date"><i class="icofont-ui-calendar"></i> 23rd Jan 2019</span>
              </div>
              <div class="policy-content single-policy policy-border-bottom">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adidis.</a></h3>
                <span class="meta-date"><i class="icofont-ui-calendar"></i> 23rd Jan 2019</span>
              </div>
              <div class="policy-content single-policy policy-border-bottom">
                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adidis.</a></h3>
                <span class="meta-date"><i class="icofont-ui-calendar"></i> 23rd Jan 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- latest-news-area end -->

<%- include ('layout/footer') -%>
