<%- include ('layout/header') -%>
<!-- hero-area start -->
<section class="hero-area">
    <div class="slider-active">
        <div class="single-slider slider-height" data-background="img/slider/slider1.jpg"></div>
        <div class="single-slider slider-height" data-background="img/slider/slider2.jpg"></div>
        <div class="single-slider slider-height" data-background="img/slider/slider3.jpg"></div>
    </div>
</section>
<!-- hero-area end -->

<!-- about-area start -->
<section class="about-area pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5">
                <div class="about-logo">
                    <img src="img/logo.png" alt="About Logo">
                </div>
                <div class="about-left-side pos-rel mb-30">
                    <div class="about-front-img">
                        <img src="img/about-img.jpg" alt="">
                    </div>
                    <div class="about-shape">
                        <img src="img/about-shape.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="about-right-side pt-55 mb-30">
                    <div class="about-title mb-20">
                        <h5>About Us</h5>
                        <h1>Short Story About Global Values Group.</h1>
                    </div>
                    <div class="about-text">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p><br>
                    </div>
                    <div class="about-author d-flex align-items-center">
                        <div class="author-ava">
                            <img src="img/author-ava.png" alt="">
                        </div>
                        <div class="author-desination">
                            <h4>Rosalina D. Williamson</h4>
                            <h6>founder</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area end -->

<!-- companies section start -->
<section class="companies-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title text-center pos-rel mb-75">
                    <div class="section-text pos-rel">
                        <h1>Our Companies</h1>
                    </div>
                    <div class="section-line pos-rel">
                        <img src="img/section-title-line.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compaines">
                <div class="company">
                    <img src="img/company/company1.jpg" />
                    <div class="company-info">
                        <h1>Company 1</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#">Visit Us</a>
                    </div>
                </div>
                <div class="company">
                    <img src="img/company/company2.jpg" />
                    <div class="company-info">
                        <h1>Company 2</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#">Visit Us</a>
                    </div>
                </div>
                <div class="company">
                    <img src="img/company/company3.jpg" />
                    <div class="company-info">
                        <h1>Company 3</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="#">Visit Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- companies section end -->

<!-- services-area start -->
<section class="servcies-area gray-bg pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title text-center pos-rel mb-75">
                    <div class="section-icon">
                        <img class="section-back-icon" src="img/section-back-icon.png" alt="">
                    </div>
                    <div class="section-text pos-rel">
                        <h5>Departments</h5>
                        <h1>Managed Your Heathcare Services</h1>
                    </div>
                    <div class="section-line pos-rel">
                        <img src="img/section-title-line.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/service1.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Body Surgery</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="services-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/service2.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Dental Care</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="services-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/service3.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Eye Care</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="services-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/service4.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Blood Cancer</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="services-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/service5.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Neurology Sargery</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="services-details.html">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/service6.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Allergic Issue</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="services-details.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-area end -->
<!-- team-area start -->
<section class="team-area pt-115 pb-55">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-10">
                <div class="section-title pos-rel mb-75">
                    <div class="section-icon">
                        <img class="section-back-icon back-icon-left" src="img/section-back-icon.png" alt="Icon">
                    </div>
                    <div class="section-text pos-rel">
                        <h5>Our Team</h5>
                        <h1>A Professional & Care Provider</h1>
                    </div>
                    <div class="section-line pos-rel">
                        <img src="img/section-title-line.png" alt="Section Line">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="team-box text-center mb-60">
                    <div class="team-thumb mb-45 pos-rel">
                        <img src="img/member1.png" alt="Team Member">
                        <a class="team-link" href="#">+</a>
                    </div>
                    <div class="team-content">
                        <h3>Rosalina D. Williamson</h3>
                        <h6>Founder</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="team-box text-center mb-60">
                    <div class="team-thumb mb-45 pos-rel">
                        <img src="img/member2.png" alt="Team Member">
                        <a class="team-link" href="#">+</a>
                    </div>
                    <div class="team-content">
                        <h3>Diconda PIran Will</h3>
                        <h6>dentist</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="team-box text-center mb-60">
                    <div class="team-thumb mb-45 pos-rel">
                        <img src="img/member3.png" alt="Team Member">
                        <a class="team-link" href="#">+</a>
                    </div>
                    <div class="team-content">
                        <h3>Hulk M. Kenbon</h3>
                        <h6>neurologist</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="team-box text-center mb-60">
                    <div class="team-thumb mb-45 pos-rel">
                        <img src="img/member4.png" alt="Team Member">
                        <a class="team-link" href="#">+</a>
                    </div>
                    <div class="team-content">
                        <h3>Haliam Z. Dicolaz</h3>
                        <h6>Consultant</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="team-box text-center mb-60">
                    <div class="team-thumb mb-45 pos-rel">
                        <img src="img/member5.png" alt="Team Member">
                        <a class="team-link" href="#">+</a>
                    </div>
                    <div class="team-content">
                        <h3>Nicolas D. Case</h3>
                        <h6>dentist</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="team-box text-center mb-60">
                    <div class="team-thumb mb-45 pos-rel">
                        <img src="img/member6.png" alt="Team Member">
                        <a class="team-link" href="#">+</a>
                    </div>
                    <div class="team-content">
                        <h3>Phumdon H. Norman</h3>
                        <h6>neurologist</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team-area end -->

<!-- cta-area start -->
<section class="cta-area pos-rel pt-115 pb-120" data-background="img/slider-bg-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-md-12">
                <div class="cta-text text-center">
                    <div class="section-title pos-rel mb-50">
                        <div class="section-text section-text-white pos-rel">
                            <h5>Stay healthy & strong to enjoy life</h5>
                            <h1 class="white-color">Trust Us To Be There To Help All & Make Things Well Again.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta-area end -->

<%- include ('layout/footer') -%>
