<%- include ('layout/header') -%>
<!-- hero-area start -->
<section class="hero-area">
    <div class="slider-active">
        <div class="single-slider slider-height" data-background="img/slider/slider1.jpg"></div>
        <div class="single-slider slider-height" data-background="img/slider/slider2.jpg"></div>
        <div class="single-slider slider-height" data-background="img/slider/slider3.jpg"></div>
    </div>
</section>
<!-- hero-area end -->

<!-- companies section start -->
<section class="companies-area" id="Company">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title text-center pos-rel mb-75">
                    <div class="section-text pos-rel">
                        <h1>Our Companies</h1>
                    </div>
                    <div class="section-line pos-rel">
                        <img src="img/section-title-line.png" alt="Line">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compaines">
                <div class="company">
                    <img src="img/company/company1.jpg" alt="Company" />
                    <div class="company-info">
                        <h1>Company 1</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="/products">Visit Us</a>
                    </div>
                </div>
                <div class="company">
                    <img src="img/company/company1.jpg" alt="Company" />
                    <div class="company-info">
                        <h1>Company 1</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="/products">Visit Us</a>
                    </div>
                </div>
                <div class="company">
                    <img src="img/company/company2.jpg" alt="Company" />
                    <div class="company-info">
                        <h1>Company 2</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="/products">Visit Us</a>
                    </div>
                </div>
                <div class="company">
                    <img src="img/company/company3.jpg" alt="Company" />
                    <div class="company-info">
                        <h1>Company 3</h1>
                        <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p>
                        <a href="/products">Visit Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- companies section end -->

<!-- about-area start -->
<section class="about-area pt-120 pb-90" id="About">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5">
                <div class="about-logo">
                    <img src="img/logo.png" alt="Logo">
                </div>
                <div class="about-left-side pos-rel mb-30">
                    <div class="about-front-img">
                        <img src="img/about-img.jpg" alt="About">
                    </div>
                    <div class="about-shape">
                        <img src="img/about-shape.png" alt="Shape">
                    </div>
                </div>
            </div>
            <div class="about-right-side col-xl-6 col-lg-7">
                <div class="pt-55 mb-30">
                    <div class="about-title mb-20">
                        <h5>About Us</h5>
                        <h1>Short Story About Global Values Group.</h1>
                    </div>
                    <div class="about-text">
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p><br>
                    </div>
                    <div class="about-author d-flex align-items-center">
                        <div class="author-ava">
                            <img src="img/author-ava.png" alt="Author">
                        </div>
                        <div class="author-desination">
                            <h4>Rosalina D. Williamson</h4>
                            <h6>founder</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area end -->

<!-- Counter Section Satrt -->
<section class="counter-wraper pt-120 pb-90 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-couter mb-30">
                    <img src="img/counter/counter-icon-1.png" alt="Counter">
                    <div class="counter-text-box">
                        <h1><span class="counter">358</span>+</h1>
                        <h3>Counter 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-couter mb-30">
                    <img src="img/counter/counter-icon-2.png" alt="Counter">
                    <div class="counter-text-box">
                        <h1><span class="counter">358</span>+</h1>
                        <h3>Counter 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-couter mb-30">
                    <img src="img/counter/counter-icon-3.png" alt="Counter">
                    <div class="counter-text-box">
                        <h1><span class="counter">238</span>+</h1>
                        <h3>Counter 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section end -->


<!-- services-area start -->
<section class="servcies-area gray-bg pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title text-center pos-rel mb-75">
                    <div class="section-icon">
                        <img class="section-back-icon" src="img/section-back-icon.png" alt="Icon">
                    </div>
                    <div class="section-text pos-rel">
                        <h5>Services</h5>
                        <h1>Managed Your Heathcare Services</h1>
                    </div>
                    <div class="section-line pos-rel">
                        <img src="img/section-title-line.png" alt="Line">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/services/service1.png" alt="Service">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Service 1</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/services/service2.png" alt="Service">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Service 2</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/services/service3.png" alt="Service">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Service 3</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/services/service4.png" alt="Service">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Service 4</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/services/service5.png" alt="Service">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Service 5</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <img src="img/services/service6.png" alt="Service">
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Service 6</a></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo.</p>
                        <a class="service-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-area end -->

<!-- cta-area start -->
<section class="cta-area pos-rel pt-115 pb-120" data-background="img/slider-bg-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-md-12">
                <div class="cta-text text-center">
                    <div class="section-title pos-rel mb-50">
                        <div class="section-text section-text-white pos-rel">
                            <h5>Stay healthy & strong to enjoy life</h5>
                            <h1 class="white-color">Trust Us To Be There To Help All & Make Things Well Again.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta-area end -->

<%- include ('layout/footer') -%>
