<%- include ('layout/header') -%>
<!-- hero-area start -->
<section class="breadcrumb-bg pt-200 pb-180" data-background="img/page/page-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="page-title">
                    <p class="small-text pb-15">We are here for your care.</p>
                    <h1>Products Page</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero-area end -->

<!-- shop-banner-area start -->
<section class="shop-banner-area pt-120 pb-120">
    <div class="container">
        <div class="row mt-20">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="product-showing mb-40">
                    <p>Showing 1–22 of 32 results</p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6">
                <div class="shop-tab f-right">
                    <ul class="nav text-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true"><i class="icofont-brand-microsoft"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false"><i class="icofont-listine-dots"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="pro-filter mb-40 f-right">
                    <form action="#">
                        <select name="pro-filter" id="pro-filter">
                            <option value="1">Shop By </option>
                            <option value="2">Top Sales </option>
                            <option value="3">New Product </option>
                            <option value="4">A to Z Product </option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/cortex.png" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">The most powerful biological and chemical anti-mycotoxinc</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Anti-Mycotoxins</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/prolyet.png" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">The best solution for heat stress</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Prolyet</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/relaxen.png" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Renal tonic & Hrpatic protector</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Relaxen</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/remove.png" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">The best solution or most viral diseases</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Remo_ve</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/remove.png" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">The best solution or most viral diseases</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Remo_ve</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/airbreez.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Air freshener and disinfectant</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Airbreez</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/index.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Glass Cleaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Index</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/jax.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Dishwashing liquid soap</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Jax</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/remove.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">All Purpose Multi-Surface Disinfectant Cleaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Remove</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/restore.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Wooden Surfaces Cleaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Restore</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/touch.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Leather Cleaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Touch</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/zamax.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Grease Cleaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Zamax</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/zlorex.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Cleaner, Brighter, Fresher Laundry.</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Zlorex</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/zlorex2.jpg" alt=""></a>
                                        <div class="product-action text-center">
                                            <a href="/product-details"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <span class="pro-cat"><a href="#">Safe Bleach, Stain Fighter and Bright Booster</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Zlorex Colors</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/cortex.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">The most powerful biological and chemical anti-mycotoxinc</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Cortex</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Cortex works to get rid of bacterial and fungal toxins.</li>
                                        <li>Cortex eliminates the toxicity of trichothecenes, zearalenone, aflatoxin and ochratoxin by changing their toxic structure into non-toxic.</li>
                                        <li>Cortex is used to eliminate source of toxins.</li>
                                        <li>Cortex absorbs toxins and carries them out the body of the bird.</li>
                                        <li>Cortex reduces the risk of infection with some bacteria such as salmonella, E.coli, costridium, etc.</li>
                                        <li>Cortex increases the efficiency of the immune system of the flock.</li>
                                        <li>Cortex improves the intestinal functions by stimulation of digestive enzymes and bile secretion.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/prolyet.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">The best solution for heat stress</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Prolyet</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                        <ul>
                                            <li>Prolyet works to resist heat stress.</li>
                                            <li>Prolyet reduces the boy temperature of birds.</li>
                                            <li>Prolyet stimulates the immune system.</li>
                                            <li>Prolyet activates livers and kidney cells.</li>
                                            <li>Prolyet promotes birds with energy.</li>
                                            <li>Prolyet works to restore vitality and activity for birds.</li>
                                            <li>Prolyet helps to maintain balance of minerals.</li>
                                            <li>Prolyet prevents dryness of birds and loss of appetite.</li>
                                            <li>Prolyet increases the efficiency of livers and kidney cells and their functions.</li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/relaxen.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">Renal tonic and Hrpatic protector</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Relaxen</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Relaxen protects liver cells and kidney cells from impact with toxins.</li>
                                        <li>Relaxen improves the metabolic processes on liver.</li>
                                        <li>Relaxen works as a diuretic and a tonic for liver.</li>
                                        <li>Relaxen regenerates liver and kidney cells.</li>
                                        <li>Relaxen stimulates liver and kidney cells function.</li>
                                        <li>Relaxen prevents formation of fatty acids.</li>
                                        <li>Relaxen helps in cases of fatty liver and kidney dysfunctions.</li>
                                        <li>Relaxen helps in digestion and absorption of nutrients.</li>
                                        <li>Relaxen improves growth rate and FCR.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/cortex.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">The best solution for most viral diseases</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Remo-ve</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Remo_ve prevents and reduces viral and bacterial infections.</li>
                                        <li>Remo_ve is a good bronchodilator.</li>
                                        <li>Remo_ve is antiseptic for respiratory system.</li>
                                        <li>Remo_ve used in case of respiratory diseases.</li>
                                        <li>Remo_ve used in viral, bacterial and fungal infections.</li>
                                        <li>Remo_ve used in all stress situation.</li>
                                        <li>Remo_ve is a powerful antioxidant.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/airbreez.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">Air Freshener and disinfectant</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Airbreez</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Airbreez Room Spray helps maintain a welcoming bathroom or any other room by awakening the air with eucalyptus and mint  fragrance and eco disinfectant.</li>
                                        <li>Designed to fight tough odors and some germs , each burst instantly freshens, so you know your space is always inviting.</li>
                                        <li>Use on a daily basis or as the final touch after the cleaning routine.</li>
                                        <li>Use airbreez for your home and have the perfect freshness at your fingertips.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/index.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">Glass CLeaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Index</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Index spray will leave a streak free shine on any glass surfaces around the home, suitable for use on fridges, glass surfaces, mirror, taps, windscreens and worktops.</li>
                                        <li>Clean windows and glass surfaces across the home.</li>
                                        <li>Dissolves grease.</li>
                                        <li>Lifts off dirt.</li>
                                        <li>Cleans with vinegar to leave a streak free shine.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/jax.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">Dishwashing liquid soap</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Jax</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Jax is effective and efficient, just one drop of it goes along way. Benefit from more washes and brilliant clean that lasts with  this lemon.</li>
                                        <li>Jax is a concentrated formula and long-lasting suds for more cleaning power.</li>
                                        <li>Jax gives you a pleasant scent around the sink during the washing.</li>
                                        <li>Jax is a powerful dishwashing detergent easily wipes the girme away no matter the challenge.</li>
                                        <li>Jax is effective on 100% of greases (food greases) keeps dishes sparking clean incredible grease-cutting and stain-removing power.</li>
                                        <li>Jax is good for everyday dishes from glasses to pots and pans.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/remove.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">All Purpose Multi-Surface Disinfectant Cleaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Remove</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Remove, you only need one cleaner to fight dirt, grime and grease.</li>
                                        <li>Remove gives you 4X cleaning action and a great, long lasting scent. It deodorizes and wipes out odor causing bacteria leaving a pleasant Pine scent.</li>
                                        <li>Remove All Purpose Cleaner is safe to use on most hard non-porous surfaces including finished hardwood, ceramic tile, linoleum, plastic, and leaves no sticky residue.</li>
                                        <li>Remove disinfectant cleaner in the Original Pine scent that cleans, disinfects and kills 99% of germs while penetrating through tough stains and removing odors.</li>
                                        <li>Remove is an all-purpose cleaner that penetrates and cleans messes on a wide variety of hard nonporous surfaces both indoors or outdoors.</li>
                                        <li>Safe to use on appliances, outdoor furniture, in the bathroom and can also be used to freshen laundry.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-30">
                                    <div class="product__img">
                                        <a href="/product-details"><img src="img/products/restore.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="product-list-content pt-10 mb-30">
                                    <div class="product__content mb-20">
                                        <span class="pro-cat"><a href="#">Wooden Surfaces Cleaner</a></span>
                                        <h4 class="pro-title"><a href="/product-details">Restore</a></h4>
                                        <div class="price">
                                            <span>$95.00</span>
                                            <span class="old-price">$120.00</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Jax is effective and efficient, just one drop of it goes along way. Benefit from more washes and brilliant clean that lasts with  this lemon.</li>
                                        <li>Jax is a concentrated formula and long-lasting suds for more cleaning power.</li>
                                        <li>Jax gives you a pleasant scent around the sink during the washing.</li>
                                        <li>Jax is a powerful dishwashing detergent easily wipes the girme away no matter the challenge.</li>
                                        <li>Jax is effective on 100% of greases (food greases) keeps dishes sparking clean incredible grease-cutting and stain-removing power.</li>
                                        <li>Jax is good for everyday dishes from glasses to pots and pans.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="basic-pagination basic-pagination-2 text-center mt-20">
                    <ul>
                        <li><a href="#"><i class="icofont-rounded-double-left"></i></a></li>
                        <li><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#"><i class="icofont-rounded-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop-banner-area end -->
<%- include ('layout/footer') -%>
