<footer>
  <div class="footer-top footer-map primary-bg pt-115 pb-90 wow bounceInUp" id="Contact">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8">
          <div class="footer-contact-info mb-30">
            <div class="emmergency-call fix">
              <div class="emmergency-call-icon f-left">
                <i class="icofont-ui-touch-phone"></i>
              </div>
              <div class="emmergency-call-text f-left">
                <h6> Phone</h6>
                <span>+1-5128619249</span>
              </div>
            </div>
            <div class="footer-logo mb-35">
              <a href="">
                <img src="/img/logo.png" alt="Logo">
              </a>
            </div>
            <div class="footer-contact-content mb-25">
              <p>Global Values Group ( G.V.G) was founded as a result of merging of many groups of  companies in different fields.</p>
            </div>
            <div class="footer-emailing">
              <ul>
                <li><i class="icofont-envelope"></i><a href="#"">Info@globalvaluesgroup.com</a></li>
                <li><i class="icofont-location-pin"></i>NOBLESVILLE, INDIANA, USA</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>Main</h3>
            </div>
            <div class="footer-menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#Company">Companies</a></li>
                <li><a href="#About">About</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-2 offset-xl-1 col-lg-3 d-md-none d-lg-block">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>Companies</h3>
            </div>
            <div class="footer-menu">
              <ul>
                <%companyData.forEach(function(company){%>
                  <li><a href="<%=company.link%>"><%=company.name%></a></li>
                <%})%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom pt-25 pb-20">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="footer-copyright text-center">
            <p class="white-color">Copyright - 2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</main>
<!-- Main Body End -->

<!-- JS here -->
<script src="/vendor/modernizer/modernizr-3.5.0.min.js"></script>
<script src="/vendor/jquery/jquery-1.12.4.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
<script src="/vendor/nice-select/jquery.nice-select.min.js"></script>
<script src="/vendor/scrollup/jquery.scrollUp.min.js"></script>
<script src="/vendor/counterup/jquery.counterup.min.js"></script>
<script src="/vendor/meanmenu/jquery.meanmenu.min.js"></script>
<script src="/vendor/waypoints/waypoints.min.js"></script>
<script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/swiper/swiper.min.js"></script>
<script src="/vendor/slick/slick.min.js"></script>
<script src="/vendor/one-page-nav/one-page-nav.min.js"></script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
