<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>GVG - <%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png">

  <!-- CSS here -->
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="/vendor/meanmenu/meanmenu.css">
  <link rel="stylesheet" href="/vendor/icofont/icofont.min.css">
  <link rel="stylesheet" href="/vendor/aos/aos.css">
  <link rel="stylesheet" href="/vendor/swiper/swiper.min.css">
  <link rel="stylesheet" href="/vendor/slick/slick.css">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>

  <!-- Header Begin -->
  <header>
    <div class="top-bar d-none d-md-block">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-xl-7 offset-xl-1 col-lg-6 offset-lg-0 col-md-7 offset-md-1">
            <div class="header-info">
              <span><i class="icofont-ui-touch-phone"></i>+1-5128619249</span>
              <span><i class="icofont-envelope"></i>Info@globalvaluesgroup.com</span>
            </div>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-4">
            <div class="header-top-right-btn f-right">
              <a href="/contact" class="btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu Area Begin -->
    <div class="header-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
            <div class="logo pos-rel">
              <a href="/">
                <img src="/img/logo.png" alt="Logo">
              </a>
            </div>
          </div>

          <div class="col-xl-9 col-lg-9 col-md-9">
            <!-- Desktop One -->
            <div class="header__menu f-right">
              <nav id="mobile-menu">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/#Company">Companies</a></li>
                  <li><a href="/#About">About</a></li>
                  <li><a href="#">Products +</a>
                    <ul class="submenu">
                      <%companyData.forEach(function(company){%>
                      <%if(company.type == 'page') {%>
                      <li><a href="<%=company.link%>"><%=company.name%></a></li>
                      <%}%>
                      <%})%>
                    </ul>
                  </li>
                  <li><a href="/contact">Contact</a></li>
                  <% if(user) { %>
                  <li><a href="/dashboard">Dashboard</a></li>
                  <% } %>
                </ul>
              </nav>
            </div>
          </div>

          <!-- Mobile One -->
          <div class="col-12">
            <div class="mobile-menu"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu Area End -->
  </header>
  <!-- Header End -->

  <!-- Main Body Begin -->
  <main>
