<div class="col-12">
  <!-- ########## START: FOOTER ########## -->
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">Copyright &copy; 2021. All Rights Reserved.</div>
      <div>Attentively and carefully made with <i class="icofont-heart-alt"></i>.</div>
    </div>
  </footer>
  <!-- ########## END: FOOTER ########## -->
</div>
</div>
<!-- ########## END: MAIN PANEL ########## -->

<!-- Vendor JavaScript Files -->
<script src="/vendor/jquery/jquery-1.12.4.min.js"></script>
<script src="/vendor/popper/popper.min.js"></script>
<script src="/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/vendor/noty/noty.min.js"></script>
<script src="/vendor/axios/axios.js"></script>

<!-- Main JavaScript File -->
<script src="../js/dashboard.js"></script>
<%if (title == "Company") {%>
<script src="../js/company.js"></script>
<%} else if (title == "Product") {%>
<script src="../js/product.js"></script>
<%}%>
</body>
</html>
