
<script src="vendor/jquery/jquery-1.12.4.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="js/auth.js"></script>

</body>
</html>
