<!DOCTYPE html>
<html lang="en" class="pos-relative">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>GVG - <%= title %></title>

  <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png">

  <!-- vendor css -->
  <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <div class="wrapper p-3">
    404
  </div>

  <!-- ########## START: FOOTER ########## -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Brainean</strong>. All Rights Reserved
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer>
  <!-- ########## END: FOOTER ########## -->

  <script src="vendor/jquery/jquery-1.12.4.min.js"></script>
  <script src="vendor/popper/popper.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>

</body>

</html>
